*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
.DS_Store
src/app/__pycache__/urls.cpython-38.pyc
src/app/__pycache__/settings.cpython-38.pyc
src/app/__pycache__/urls.cpython-38.pyc
src/app/__pycache__/settings.cpython-38.pyc
src/voting/__pycache__/models.cpython-38.pyc
src/voting/__pycache__/urls.cpython-38.pyc
src/voting/__pycache__/views.cpython-38.pyc
src/voting/__pycache__/models.cpython-38.pyc
src/voting/__pycache__/urls.cpython-38.pyc
src/voting/__pycache__/views.cpython-38.pyc
src/app/__pycache__/settings.cpython-38.pyc
src/app/__pycache__/settings.cpython-38.pyc
src/voting/__pycache__/models.cpython-38.pyc
src/voting/__pycache__/urls.cpython-38.pyc
src/voting/__pycache__/views.cpython-38.pyc
