{% extends 'accounts/base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'static.css' %}">
{% endblock customcss %}


{% block content1 %}

<form class="form-signin" method="post">{% csrf_token %}
  <div class="form-label-group">
    <input type="text" id="inputUserName" class="form-control" name="username" placeholder="user name" required autofocus>
    <label for="inputUserName">ユーザー名</label>
  </div>
  
  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required>
    <label for="inputEmail">メールアドレス</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword1" class="form-control" name="password1" placeholder="Password" required>
    <label for="inputPassword1">パスワード</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword2" class="form-control" name="password2" placeholder="Password" required>
    <label for="inputPassword2">確認用パスワード</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">サインアップ</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>


{% endblock content1 %}